.about-the-svoboda-orto__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.about-the-svoboda-orto__video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.about-the-svoboda-orto__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-the-svoboda-orto__description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 85px;

  &::after {
    content: "";
    position: absolute;
    bottom: -42px;
    width: 100%;
    height: 1px;
    background-color: rgba(158, 158, 158, 0.5);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 60px;
    margin-bottom: 105px;

    &::after {
      content: "";
      bottom: -52px;
    }
  }
}

.about-the-svoboda-orto__text,
.about-the-svoboda-orto__list {
  font-size: 12.5px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16.5px;
    text-align: justify;
  }
}

.about-the-svoboda-orto__text {
  @media (min-width: $desktop-width) {
    &--general {
      order: 1;
    }

    &--team {
      order: 3;
    }

    &--services {
      order: 2;
    }

    &--location {
      order: 4;
    }

    &--mission {
      position: relative;
      order: 5;
      grid-column: 1/3;
      justify-self: center;
      width: 821px;
      font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
      font-size: 24px;
      line-height: normal;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: $green;
      word-spacing: 4px;
      margin: 20px auto 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 25px;
        height: 25px;
        opacity: 0.5;
      }

      &::before {
        left: 35px;
        background: url("../img/icons/icon-quote-left.svg") no-repeat;
        background-size: contain;
      }

      &::after {
        top: 69px;
        right: 218px;
        background: url("../img/icons/icon-quote-right.svg") no-repeat;
        background-size: contain;
      }
    }
  }
}

.about-the-svoboda-orto__requisites-title {
  position: relative;
  margin-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    width: 60px;
    height: 60px;
    background: url("../img/icons/icon-requisites.svg") no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto 50px;

    &::after {
      top: -22px;
      width: 80px;
      height: 80px;
    }
  }
}
