.about-us__slogan {
  position: relative;
  max-width: 280px;
  font-size: 20px;
  font-weight: 700;
  color: $green;
  text-align: center;
  margin: 0 auto 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }

  &::before {
    background: url("../img/icons/icon-quote-left.svg") no-repeat;
    background-size: contain;
    left: -7px;
  }

  &::after {
    background: url("../img/icons/icon-quote-right.svg") no-repeat;
    background-size: contain;
    right: -7px;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    max-width: 300px;

    &::before,
    &::after {
      width: 25px;
      height: 25px;
    }

    &::before {
      left: -26px;
    }

    &::after {
      right: -26px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 40px;
  }
}

.about-us__description {
  text-align: center;
  color: $title-text;

  @media (min-width: $tablet-width) {
    font-size: 16.5px;
    max-width: 88%;
    margin: 0 auto 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1030px;
  }
}

.about-us__advantages-list {
  margin-bottom: 30px;
}

.about-us__container {
  padding: 43px 20px 22px;
  background-color: $grey-background;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 43px 40px 32px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 40px 42px;
  }
}

// Перенос со страницы Сведения об организации

.about-us__video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.about-us__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-us__description-the-svoboda-orto {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 85px;

  &::after {
    content: "";
    position: absolute;
    bottom: -42px;
    width: 100%;
    height: 1px;
    background-color: rgba(158, 158, 158, 0.5);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 60px;
    margin-bottom: 105px;

    &::after {
      content: "";
      bottom: -52px;
    }
  }
}

.about-us__text,
.about-us__list {
  font-size: 12.5px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16.5px;
    text-align: justify;
  }
}

.about-us__text {
  @media (min-width: $desktop-width) {
    &--general {
      order: 1;
    }

    &--team {
      order: 3;
    }

    &--services {
      order: 2;
    }

    &--location {
      order: 4;
    }

    &--mission {
      position: relative;
      order: 5;
      grid-column: 1/3;
      justify-self: center;
      width: 821px;
      font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
      font-size: 24px;
      line-height: normal;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: $green;
      word-spacing: 4px;
      margin: 20px auto 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 25px;
        height: 25px;
        opacity: 0.5;
      }

      &::before {
        left: 35px;
        background: url("../img/icons/icon-quote-left.svg") no-repeat;
        background-size: contain;
      }

      &::after {
        top: 69px;
        right: 218px;
        background: url("../img/icons/icon-quote-right.svg") no-repeat;
        background-size: contain;
      }
    }
  }
}

.about-us__requisites-title {
  position: relative;
  margin-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    width: 60px;
    height: 60px;
    background: url("../img/icons/icon-requisites.svg") no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto 50px;

    &::after {
      top: -22px;
      width: 80px;
      height: 80px;
    }
  }
}
