.article__title {
  margin-bottom: 20px;

  &--politics-main {
    font-size: 21px;
  }

  &--politics {
    margin: 0 0 10px;
    color: $title-text;
  }

  @media (min-width: $tablet-width) {
    &--politics-main {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    &--politics-main {
      font-size: 46px;
      text-transform: none;
      margin: 0 0 50px;
    }
  }
}

.article__text {
  margin: 0 auto 20px;

  @media (min-width: $tablet-width) {
    text-align: justify;
    font-size: 16px;
  }
}

.article__list {
  margin: 0;

  &--politics {
    list-style-type: disc;
  }

  @media (min-width: $tablet-width) {
    text-align: justify;
    font-size: 16px;
  }
}

.article__list-item {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.article__phone,
.article__link {
  font-size: 14px;
  line-height: normal;
  color: #559127;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.article__products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    align-items: center;
  }
}

.article__products-item {
  justify-self: center;

  @media (min-width: $tablet-width) {
    &:nth-of-type(1) {
      order: 3;
    }

    &:nth-of-type(2) {
      order: 1;
    }

    &:nth-of-type(3) {
      order: 2;
    }
  }
}

.article__products-image {
  display: block;
  width: 125px;
  height: auto;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 180px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
  }
}
