.articles-filters {
  position: relative;
  left: -5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.articles-filters__button {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;
  color: $grey-text;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $hover;
    border-bottom: 1px solid $hover;
  }

  &:active {
    color: $active;
    border-bottom: 1px solid $active;
  }

  &--current {
    color: $active;
    border-bottom: 1px solid $active;
  }

  @media (min-width: $tablet-width) {
    font-size: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}
