.articles-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 30px 20px;
  }
}

.articles-list__item {
  background-color: $grey-background;
  padding: 29px 20px 22px;

  @media (min-width: $tablet-width) {
    padding: 32px 20px 22px;
  }
}

.articles-list__title {
  font-size: 21px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.articles-list__description {
  font-size: 14px;
  color: $grey-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.articles-list__tag {
  font-size: 10px;
  padding: 5px;
  color: $green;
  text-transform: uppercase;
  background-color: rgba($green, 0.1);

  @media (min-width: $tablet-width) {
    font-size: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}
