.breadcrumbs-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* запрет переноса */
  gap: 15px;
  overflow: hidden; /* чтобы скрыть лишнее */
  white-space: nowrap;
}

.breadcrumbs-list__item {
  flex-shrink: 0; /* чтобы не сжимались */
}

.breadcrumbs-list__item:last-child {
  flex-shrink: 1; /* только последний можно сжимать */
  min-width: 0; /* важно для обрезания текста */
}

.breadcrumbs-list__item:not(:last-child) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 1px;
    background-color: $grey-text;
  }
}

.breadcrumbs-list__link {
  font-size: 12px;
  color: $grey-text;
  padding: 5px 8px;
  letter-spacing: -0.2px;
  white-space: nowrap;

  &--current {
    color: $green;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: 100%;
  }

  @media (min-width: $tablet-width) {
    font-size: 16.5px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 10.8px;
  }
}
