.carousel__prosthesis-list {
  margin-bottom: 45px;
}

.carousel__pager {
  user-select: none;
  font-size: 12px;
  color: $green;

  @media (min-width: $tablet-width) {
    font-size: 16.5px;
  }
}

.carousel__current {
  font-weight: 600;
}

.carousel__total {
  color: $title-text;
}

.carousel--nojs .prosthesis-list__button {
  display: none;
}

.carousel--nojs .prosthesis-list__description {
  display: block;
}

.carousel--nojs .prosthesis-list__item {
  display: grid;
}
