.carousel__leg-prosthesis-list {
  margin-bottom: 45px;
}

.carousel__controls {
  margin-bottom: 20px;
}

.nojs--carousel .leg-prosthesis-list__button {
  display: none;
}

.nojs--carousel .leg-prosthesis-list__description {
  display: block;
}

.nojs--carousel .leg-prosthesis-list__item {
  display: grid;
}

.nojs--carousel .controls {
  display: none;
}
