.controls {
  display: flex;
  gap: 20px;
  justify-content: right;
}

.controls__button {
  padding: 10px 0 10px 10px;
}

.controls__button:hover .controls__button-icon {
  stroke: $hover;
}

.controls__button:active .controls__button-icon {
  stroke: $active;
}
