.controls {
  display: flex;
  gap: 20px;
  justify-content: right;
  align-items: center;

  &--products {
    justify-content: left;
  }

  @media (min-width: $tablet-width) {
    &--useful-articles {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--useful-articles {
      display: flex;
    }
  }
}

.controls__button {
  padding: 10px 5px 10px 0;
}

.controls__button-forward {
  padding: 10px 0 10px 5px;
}

.controls__button:hover .controls__button-icon {
  stroke: $hover;
}

.controls__button:active .controls__button-icon {
  stroke: $active;
}
