.contacts {
  padding-top: 45px;
}

.contacts__location {
  position: relative;
}

.contacts__title {
  position: relative;
  padding-top: 25px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 79px;
    background: url("../img/icons/flag.svg") no-repeat;
    background-size: contain;
  }
}

.contacts__contacts-list {
  margin: 0 auto 30px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 65px;
  }
}

.contacts__map {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 315px;
  }

  @media (min-width: $desktop-width) {
    min-height: 391px;
  }
}

.contacts__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  max-height: 338px;
  object-fit: cover;
  object-position: bottom;

  @media (min-width: $tablet-width) {
    min-height: 315px;
  }

  @media (min-width: $desktop-width) {
    min-height: 391px;
  }
}
