.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 450px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px 40px;
    max-width: 863px;
    margin: 0 auto 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px repeat(2, auto);
    align-items: start;
    max-width: 1030px;
  }
}

.contacts-list__item {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: start;
  gap: 8px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 90px 1fr;

    // &:nth-child(even) {
    //   justify-self: right;
    // }

    &--consultation {
      width: 99%;
      // text-align: justify;
      grid-column: 1/-1;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(1, 1fr);

    &:nth-child(even) {
      justify-self: left;
    }

    &--consultation {
      order: 1;
      grid-column: 1/2;
      grid-row: 1/3;
      width: 100%;
      text-align: left;
    }

    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 5;
    }
  }
}

.contacts-list__title {
  font-weight: 700;
  margin: 0;
  color: $green;

  @media (min-width: $tablet-width) {
    font-size: 12.5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}

.contacts-list__text {
  font-style: normal;
  color: $main-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    &--address {
      max-width: 456px;
    }
  }
}
