.electronic-certificate {
  background-color: $grey-background;
}

.electronic-certificate__container {
  padding: 43px 0 22px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 43px 85px 22px;
  }
}

.etelectronic-certificate__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.etelectronic-certificate__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px 40px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

.etelectronic-certificate__item {
  padding: 10px 0;
  border-top: 1px solid $grey-line;

  @media (min-width: $tablet-width) {
    font-size: 16.5px;
  }
}
