.main-inner {
  flex-grow: 1;
}

.main-inner__header {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.main-inner__intro-articles {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.main-inner__articles {
  margin-bottom: 45px;

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}
