.main-inner {
  flex-grow: 1;
}

.main-inner__header {
  margin-bottom: 45px;
}

.main-inner__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-inner__intro-articles {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.main-inner__article-container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    gap: 40px;
  }
}

.main-inner__breadcrumbs-list {
  position: relative;
  left: -8px;

  @media (min-width: $desktop-width) {
    &--breadcrumbs-list {
      left: 0;
    }
  }
}

.main-inner__articles,
.main-inner__article,
.main-inner__useful-articles,
.main-inner__about-the-svoboda-orto,
.main-inner__electronic-certificate,
.main-inner__certificate-application {
  margin-bottom: 45px;

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.main-inner__preface,
.main-inner__certificate-application,
.main-inner__receive-IPRA {
  margin: 0 auto 65px;

  @media (min-width: $desktop-width) {
    margin: 0 auto 85px;
  }
}

.main-inner--products-nojs .controls--products {
  display: none;
}

.main-inner--products-nojs .prosthesis-list__button {
  display: none;
}

.main-inner--products-nojs .prosthesis-list__description {
  display: block;
}

.main-inner--products-nojs .prosthesis-list__item {
  display: grid;
}
