.main-inner {
  flex-grow: 1;
}

.main-inner__header {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.main-inner__intro-articles {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.main-inner__article-container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    gap: 40px;
  }
}

.main-inner__articles,
.main-inner__article,
.main-inner__useful-articles,
.main-inner__about-the-svoboda-orto {
  margin-bottom: 45px;

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}
