/* Стили для модального окна */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 3; /* Показать поверх всего контента */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.95); /* Светлый фон */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
}

.modal-close {
  position: absolute;
  top: 39px;
  right: 10px;
  width: 45px;
  height: 24px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 6px;
    width: 31px;
    height: 2.5px;
    background-color: $green;
    border-radius: 0;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: $hover;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: $active;
}

/* Стили для кнопок навигации */
.modal-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  // color: white;
  // font-size: 24px;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

/* stylelint-disable-next-line selector-max-id */
#prev {
  left: 10px;
}

/* stylelint-disable-next-line selector-max-id */
#next {
  right: 10px;
}

.modal-nav-btn:hover .modal-arrow {
  fill: $hover;
}

.modal-nav-btn:active .modal-arrow {
  fill: $active;
}
