.page-header {
  &--products {
    background-color: $grey-background;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.page-header__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &--nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 1;
  }

  &--nav-products {
    background-color: $grey-background;
  }

  @media (min-width: $desktop-width) {
    max-width: 1030px;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 30px 0 20px;
    margin: 0 auto;

    &--nav {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      max-width: 1030px;
      padding: 0;
      background-color: transparent;
    }

    &--subnav {
      margin: 0;
      padding: 0;
      gap: 10px;
    }
  }
}

.page-header__logo {
  padding: 23px 20px;
  width: min-content;

  @media (min-width: $mobile-width-only) {
    padding: 23px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.page-header__logo-image {
  position: relative;
  right: 17px;
  display: block;
  width: 140px;
  height: 55px;

  @media (min-width: $tablet-width) {
    width: 170px;
    height: 63px;
  }

  @media (min-width: $desktop-width) {
    right: 14px;
    width: 180px;
    height: 72px;
  }
}

.page-header__phone {
  width: fit-content;
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 17.5px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $green;
  padding: 19px 20px;

  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }

  @media (min-width: $mobile-width-only) {
    padding: 19px 40px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__social-container {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $grey-line;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      content: none;
    }
  }
}

.page-header__social-link {
  display: block;
  width: fit-content;
  padding: 16px;

  @media (min-width: $mobile-width-only) {
    padding: 16px 40px;
  }

  @media (min-width: $desktop-width) {
    max-height: 20px;
    padding: 18px 10px;
  }
}

.page-header__social-icon {
  width: 20px;
  height: 20px;
}

.page-header__social-link:hover .page-header__social-icon {
  fill: $hover;
}

.page-header__social-link:active .page-header__social-icon {
  fill: $active;
}
