.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: $main-color;
  background-color: $white;

  &--products {
    background-color: rgba($color: $grey-background, $alpha: 0.4);
  }
}

.page-body__page-header {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.page-body__footnote-container {
  position: relative;
  display: flex;
  gap: 6px;
  font-size: 12px;
  line-height: normal;
  color: $grey-text;
  padding-top: 10px;
  padding-bottom: 45px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $grey-line;
  }
}

.page-body__footnote-sign {
  color: $green;
  font-size: 18px;
  font-weight: 700;
}

.page-body__footnote-text {
  width: 88%;
  letter-spacing: -0.2px;

  @media (min-width: 361px) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}
