.page-footer {
  background-color: $grey-background;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    padding: 42px 0;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;

  &--copyright {
    gap: 10px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;

    &--copyright {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1030px;
    margin: 0 auto;

    &--copyright {
      margin: 0;
      gap: 15px;
    }
  }
}

.page-footer__logo {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $tablet-width) {
    justify-self: start;
  }
}

.page-footer__logo-image {
  display: block;
  width: 115px;
  height: 55px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 131px;
    height: 63px;
  }

  @media (min-width: $desktop-width) {
    right: 14px;
    width: 180px;
    height: 72px;
  }
}

.page-footer__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $grey-line;
  }

  &::before {
    top: -20px;
  }

  &::after {
    bottom: -20px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0 auto;

    &::before,
    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::after,
    &::before {
      content: none;
    }
  }
}

.page-footer__social-container {
  position: relative;
  display: flex;
  width: 35px;
  height: 35px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;
  }
}

.page-footer__social-icon {
  display: block;
  margin: auto;
}

.page-footer__copyright,
.page-footer__link {
  position: relative;
  text-align: center;
  margin: 0;
  font-size: 12px;
  line-height: normal;

  &--politics {
    text-transform: uppercase;
    color: $green;
  }

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
  }
}

.page-footer__development-link {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: $main-color;
  font-size: 12px;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
  }
}

.page-footer__development-site {
  color: $hover;
}

.page-footer__social-link:hover .page-footer__social-icon {
  fill: $hover;
}

.page-footer__social-link:active .page-footer__social-icon {
  fill: $active;
}

.page-footer__link--politics:hover {
  color: $hover;
}

.page-footer__link--politics:active {
  color: $active;
}

.page-footer__development-link:hover {
  color: $hover;
}

.page-footer__development-link:hover .page-footer__development-icon-path {
  fill: $hover;
}

.page-footer__development-link:active {
  color: $active;
}

.page-footer__development-link:active .page-footer__development-site {
  color: $active;
}

.page-footer__development-link:active .page-footer__development-icon-path {
  fill: $active;
}
