.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: $main-color;
  background-color: $white;
}

.page-body__page-header {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.page-body__up-button {
  @media (min-width: $mobile-width-only) {
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 545px;
    right: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $hover;
    background-color: transparent;
    box-shadow: 2px 2px 10px $hover;
    cursor: pointer;

    &--show {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    bottom: 690px;
    right: 10px;
  }
}
