.page-main {
  flex-grow: 1;
}

.page-main__intro {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.page-main__about-us {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.page-main__services {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.page-main__team {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.page-main__products {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.page-main__counter {
  margin-bottom: 0;
}
