.preface {
  @media (min-width: $desktop-width) {
    max-width: 1030px;
  }
}

.preface__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: url("../img/zakaz-TSR-po-sertifikatu/background-image-1-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/zakaz-TSR-po-sertifikatu/background-image-1-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 100%;
      height: 450px;
      background-image: url("../img/zakaz-TSR-po-sertifikatu/background-image-1-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        width: 100%;
        height: 450px;
        background-image: url("../img/zakaz-TSR-po-sertifikatu/background-image-1-desktop@2x.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 530px;
    margin-right: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -498px;
      width: 420px;
      height: 100%;
      background-position: -55px;

      @media (min-resolution: 2dppx) {
        background-position: -55px;
      }
    }
  }
}

.preface__title {
  margin: 0 auto 20px;
  padding-top: 320px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 25px;
    padding-top: 470px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 40px;
    padding-top: 0;
  }
}

.preface__container-texts {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

.preface__text {
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  margin: 0 auto 20px;

  &:last-of-type {
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    font-size: 16.5px;

    text-align: justify;
  }

  @media (min-width: $desktop-width) {
    text-transform: uppercase;
  }
}
