.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-bottom: 42px;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1030px;
    margin: 0 auto 62px;
  }
}

.products-list__image {
  @media (min-width: $tablet-width) {
    width: 140px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    height: auto;
  }
}
