.prosthesis-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.prosthesis-list__item {
  display: none;
  flex-direction: column;
  gap: 10px;

  &--leg,
  &--insoles {
    min-height: 633px;
  }

  &--hip {
    min-height: 657px;
  }

  &--lower-limbs {
    min-height: 688px;
  }

  &--splint-lower-limbs {
    min-height: 664px;
  }

  &--splint-upper-limbs {
    min-height: 653px;
  }

  &--orthosis {
    min-height: 749px;
  }

  &--exit-service {
    min-height: 571px;
  }

  &:first-of-type {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 0.35fr 1fr;
    grid-template-rows: max-content auto auto;
    gap: 20px;
    // min-height: 494px;

    &--leg,
    &--insoles,
    &--splint-lower-limbs {
      min-height: 461px;
    }

    &--hip,
    &--lower-limbs {
      min-height: 486px;
    }

    &--splint-upper-limbs {
      min-height: 446px;
    }

    &--orthosis {
      min-height: 550px;
    }

    &--exit-service {
      min-height: 421px;
    }

    &:first-of-type {
      display: grid;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 0.5fr 1fr;
    // min-height: 440px;

    &--leg,
    &--hip,
    &--insoles,
    &--splint-lower-limbs {
      min-height: 440px;
    }

    &--lower-limbs {
      min-height: 464px;
    }

    &--splint-upper-limbs {
      min-height: 400px;
    }

    &--orthosis {
      min-height: 472px;
    }

    &--exit-service {
      min-height: 361px;
    }
  }
}

.prosthesis-list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--image {
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    &--image {
      grid-column: 1/2;
      grid-row: 1/4;
      flex-direction: column;
      gap: 20px;
      justify-content: start;
      align-items: center;
    }

    &--price {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }

  @media (min-width: $desktop-width) {
    &--image {
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
    }
  }
}

.prosthesis-list__wrapper {
  @media (min-width: 441px) {
    min-height: auto;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2/3;

    &--title {
      grid-row: 1/2;
    }

    &--constructive {
      grid-row: 2/3;
    }
  }
}

.prosthesis-list__image {
  object-fit: contain;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 193px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    height: 211px;

    &--on-site-prosthetics {
      height: auto;
      width: 158px;
    }
  }
}

.prosthesis-list__title {
  font-size: 21px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.prosthesis-list__text {
  color: $grey-text;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 16.5px;
  }
}

.prosthesis-list__form {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
  }
}

.prosthesis-list__fieldset {
  border-bottom: 1px solid $grey-line;
}

.prosthesis-list__button {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 52px;
  width: 100%;
  text-align: left;
  color: $title-text;
  padding: 10px 0;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
}

.prosthesis-list__value {
  display: block;
  font-size: 12px;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: $title-text;
  }

  &::before {
    width: 13px;
    height: 1px;
  }

  &::after {
    width: 1px;
    height: 13px;
    right: 6px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16.5px;

    &::before {
      width: 16px;
      height: 1px;
    }

    &::after {
      width: 1px;
      height: 16px;
      right: 7px;
    }
  }
}

.prosthesis-list__description {
  display: none;
  font-size: 12px;
  color: $grey-text;
  margin: 0 0 10px 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.prosthesis-list__fieldset--return-of-goods .prosthesis-list__description {
  @media (min-width: $desktop-width) {
    width: 89%;
  }
}

.prosthesis-list__price {
  @media (min-width: $tablet-width) {
    font-size: 16.5px;
  }
}

.prosthesis-list__price-value {
  font-size: 18px;
  font-weight: 700;
  color: $title-text;

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.prosthesis-list__button:hover {
  color: $hover;
}

.prosthesis-list__button:hover .prosthesis-list__value {
  &::before,
  &::after {
    background-color: $hover;
  }
}

.prosthesis-list__button:active {
  color: $active;
}

.prosthesis-list__button:active .prosthesis-list__value {
  &::before,
  &::after {
    background-color: $active;
  }
}

.prosthesis-list__fieldset--opened .prosthesis-list__value {
  &::after {
    content: none;
  }
}

.prosthesis-list__fieldset--opened .prosthesis-list__description {
  display: block;
}

.prosthesis-list__footnote-sign {
  color: $green;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1.5);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
}

.prosthesis-list__button--pulse .prosthesis-list__value::after {
  animation: pulse 1s infinite;
  background-color: $green;
}

.prosthesis-list__button--pulse .prosthesis-list__value::before {
  animation: pulse 1s infinite;
  background-color: $green;
}
