.requisites-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr) 283px;
  }
}

.requisites-list__title {
  font-weight: 600;
  color: $green;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.requisites-list__item {
  &--requisites,
  &--address {
    max-width: 520px;
  }

  @media (min-width: $tablet-width) {
    &--name {
      order: 1;
    }

    &--registration {
      order: 2;
    }

    &--inn {
      order: 3;
    }

    &--kpp {
      order: 4;
    }

    &--ogrn {
      order: 5;
    }

    &--contacts {
      order: 6;
    }

    &--address {
      max-width: fit-content;
      order: 7;
    }

    &--requisites {
      order: 8;
    }
  }

  @media (min-width: $tablet-width) {
    &--requisites {
      max-width: fit-content;
    }
  }
}
