.search-form {
  position: relative;
  left: -10px;
  display: flex;
  align-items: center;
  padding: 10px 20px;

  @media (min-width: $mobile-width-only) {
    padding: 10px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 10px;
    left: 0;
  }
}

.search-form__icon {
  position: absolute;
  display: block;
  left: 30px;

  @media (min-width: $mobile-width-only) {
    left: 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: 0;
  }
}

.search-form__input {
  position: relative;
  height: 40px;
  width: 100%;
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  padding: 0 0 0 40px;
  background-color: transparent;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.search-form__button {
  display: none;
  position: absolute;
  right: 30px;
  width: 45px;
  height: 40px;
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 16px;
  color: $grey-text;
  letter-spacing: 1px;
  line-height: 19px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  box-sizing: border-box;

  @media (min-width: $mobile-width-only) {
    right: 50px;
  }
}

.search-form__button:hover,
.search-form__button:focus,
.search-form__button:active {
  display: block;
}

.search-form:hover .search-form__icon {
  fill: $hover;
  cursor: pointer;
}

.search-form:hover .search-form__button {
  color: $hover;
}

.search-form:active .search-form__icon {
  fill: $active;
}

.search-form__input:focus ~ .search-form__button {
  display: block;
}

.search-form:active .search-form__button {
  display: block;
  color: $active;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
