.team__container {
  position: relative;
  max-width: 863px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 1030px;
  }
}

.team--nojs .pagination-arrows {
  display: none;
}

.team--nojs .team-list__item {
  display: flex;
}
