$main-color: #444444;
$title-text: #242b0a;
$grey-text: #9e9e9e;
$white: #ffffff;
$black: #000000;
$green: #559127;
$grey-line: rgba(158, 158, 158, 0.5);
$grey-background: #f2f2f2;
$hover: #ac9c44;
$active : #82a71b;

//viewport
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 360px;
