$main-color: #444444;
$title-text: #3b3714;
$grey-text: #9e9e9e;
$white: #ffffff;
$black: #000000;
$green: #559127;
$grey-line: rgba(158, 158, 158, 0.5);
$grey-background: #f2f2f2;
$hover: #ac9c44;
$active: #82a71b;
$error-background: rgba(255, 99, 71, 0.1);
$error-text: #ff6347;

//viewport
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 360px;
